{% extends "base.html" %}

{% block title %}xplore with roy{% endblock title %}

{% block content %}

<body style="background-color:#E5EDF1;">

    <div class="container-fluid mt-5 ">
        {% for post in posts %}
        <div class="row mx-auto mb-5">
            <div class="col-mb-5 col-sm-8">
                {% comment %} 'safe' is used to decode HTML code {% endcomment %}
                {{post.content |truncatewords:70 | safe}}

                <div class="container">
                    <a class="btn" style="background-color: #BFA181;" href="/myblogs/{{post.url}}" role="button">read
                        more</a>
                </div>
            </div><br><br>
            <div class="col-mb-5 col-sm-3  offset-1">
                <div class="rounded">
                    <img src="/media/{{post.image}}" class="img-responsive rounded "
                        style="width: 300px; height: 300px; object-fit: cover;" alt="">
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</body>
{% endblock content %}